.picture-container {
	position: relative;
	cursor: pointer;
	text-align: center;
}

.picture {
	width: 106px;
	height: 106px;
	background-color: #999;
	border: 4px solid #31708f;
	color: #fff;
	border-radius: 50%;
	margin: 5px auto;
	overflow: hidden;
	transition: all .2s;
	-webkit-transition: all .2s;
}

.picture-src {
	width: 100%;
	height: 100%;
}

.picture input[type=file] {
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0 !important;
	position: absolute;
	top: 0;
	width: 100%;
}

.description {
	color: #999;
	font-size: 14px;
}

.btn.btn-primary {
	color: grey;
	background-color: white;
	border-color: #afc836;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus
	{
	color: white;
	background-color: #afc836;
	border-color: #afc836;
}

.form-field {
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-color: #31708f;
	border-radius: 0px;
}

.team-icons {
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	color: #31708f;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-size: 36px;
	line-height: 56px;
	width: 56px;
	height: 56px;
	text-align: center;
}

.modal-header {
	color: #31708f;
	background: #f1f1f1;
}

.inactive-component {
	pointer-events: none;
	opacity: 0.6;
}

.confirmation-alert {
	position: absolute;
	z-index: 10;
	margin-left: 80%;
	margin-top: 155px;
}

.nav-tabs .h-nav-link.active {
	color: #31708f;
	font-size: medium;
	font-weight: 600;
	border-radius: .35rem;
}

.h-nav-link:hover, .h-nav-link:focus {
	border-radius: .35rem;
}

a.h-nav-link {
	color: white;
	font-size: medium;
	font-weight: 600;
	margin-right: 5px;
}

.h-nav-tabs {
	border-bottom: 0;
}

.table thead tr th {
	font-weight: 450;
	font-size: 1.063rem;
	border: 0;
	color: #31708f;
}

#back-icon {
	margin-top: -48%;
	margin-left: -6%;
}

.dropdown {
	margin-right: 1%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: white;
	background-color: #31708f;
	border-color: grey;
}

/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: gray;
	top: 0;
	bottom: 0;
	margin-left: -3px;
}

/* Container around content */
.notification-row {
	padding: 5px 0px;
	position: relative;
	background-color: inherit;
}

/* The circles on the timeline */
.notification-row::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #31708f;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.left {
	left: 0;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -13px;
}

/* The actual content */
.notification {
	padding: 10px 30px 0px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

.margin-top-25 {
	margin-top: 25px;
}

#quick-links {
	margin-top: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	color: #31708f;
	background: #f1f1f1;
}

.hr-acct-details {
	margin-top: 0.6rem;
	margin-bottom: 0.4rem;
	border: 5px solid;
}

.row-acct-details {
	margin-top: 1.5em;
}

.page-link {
	color: #31708f;
}

.page-item.active .page-link {
	background-color: #31708f;
    border-color: #31708f;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}

	/* Full-width containers */
	.notification-row {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.notification-row::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after, .right::after {
		left: 15px;
	}

	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
}

@media screen and (max-width: 930px) {
	#sidebar .nav li .nav-link p {
		display: none;
	}
	#sidebar, #sidebar #sidebar-wrapper, body>.navbar-collapse #sidebar-wrapper
		{
		width: 80px;
	}
	div.logo>img {
		width: 48px;
		height: 48px;
	}
	#page-content-wrapper {
		width: calc(100% - 80px);
	}
	#uname {
		background-image: linear-gradient(to right, white, #f1f1f1);
		height: 3rem;
	}
	#uname>h6 {
		display: none;
	}
	#sidebar .nav li .nav-link, body>.navbar-collapse .nav li .nav-link,
		#back-btn {
		height: 2.75em;
		padding: .60em .60em;
		font-size: 0.90em;
	}
	#back-icon {
		font-size: 28px;
		margin-right: 15px;
		width: 30px;
		text-align: center;
		vertical-align: middle;
		float: left;
	}
}